*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db



# ======== 自定义忽略文件 ==========

/.vagrant

# 忽略仓库中根目录下的 .settings 文件或目录
/.settings
# 忽略所有 . 开头的目录
.*/
# 忽略所有 . 开头的文件
.*
!.gitkeep
# 排除.env.example文件
!.env.example
!.gitignore

# Office 缓存文件
~'$'*.docx
~'$'*.doc
~'$'*.ppt
~'$'*.pptx
~'$'*.xlsx
~'$'*.xls

/public/album
/public/audio
/public/file
/public/img
/public/video
/public/soft
